table {
    border: 1px solid black;
    text-align: center;
    margin-right: 20px;



}

td {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    width: 100px;
    vertical-align: baseline;
}

p {
    border: 1px solid black;
    background: rgba(249, 243, 255, 0.51);
}

body {
    overflow: auto;

}

.tabletop {
    height: 120px;
}

.innerTable{
    font-size: 6px;
}